.nav-ia-section {
    display: flex;
    flex-direction: row;
    gap: 20px;

    padding: 20px 0px 20px 30px;

    font-size: 16px;

    color: black;

    & > div {
        cursor: pointer;
        
        &:first-child {
            font-weight: 700;

            cursor: default;
        }
    }
    & > div:not(:first-child) {
        &:hover {
            text-decoration: underline;
        }
    }
}