& .box-info {
  background-color: var(--primary-color);
  padding: 15px;
  margin: 30px auto 0px auto;

  height: max-content;
  border-radius: 10px;

  width: 48vw;

  & .drop-down__container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;

    & button {
      border: none;
      background-color: transparent;
      cursor: pointer;

      transition: 0.1s ease-in-out;

      width: min-content;
      height: min-content;
      &:active{
        transform: scale(1.1);
      }
      &:hover {
        opacity: 0.5;
      }
    }
  }

  & h2 {
    font-size: 14px;
    opacity: 0.6;
  }
  & h3 {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
  }
  & p {
    font-size: 14px;
  }
}
